<!-- menu page -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RatingTester</title>
 </head>
 <body>
    <h1>Choose a page...</h1>
    <ul>
        <li><a href="/nr-page">Nier Replicant</a></li>
        <li><a href="/na-page">Nier Automata</a></li>
        <li><a href="/nr2-page">Nier Reincarnation</a></li>
        <li><a href="/rating-page">Rating Page - Highest to Lowest</a></li>
    </ul>
 </body>
 </html>